<p id="notice"><%= notice %></p>

<h1>Listing Actors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        
        <td> <%= actor.id%></td>
        <td> <%= actor.name%></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) if can? :create, Movie%></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } if can? :create, Movie%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
<br>

<%= link_to 'New Actor', new_actor_path if can? :create, Movie%>