$("#new_comment_box").append('<li><b><%= link_to @comment.user.name, @comment.user %> </b>' + "  " + '<%= @comment.content%>' + '<br>' + '<%= @comment.updated_at.to_s %></li>');
// $("#new_comment").html('
//           <% if @comment.user %>
//           <%= link_to( @comment.user.name, @comment.user)%> 
//           <% else %>
//           Anonymous
//           <% end %>
//           <br> 
//           <%= @comment.content%> 
//           ');

$("textarea#comment_content").val("");