<%= form_for(@movie) do |f| %>
<% if @movie.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

  <ul>
    <% @movie.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div align="center"> 
  <div class="field">

    <div class="row">
      <div class="col-sm-2">
        <%= label_tag :name, nil, class: "control-label col-sm-2" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :name , class: "form-control col-sm-10"%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag :score, nil, class: "control-label col-sm-2" %>
      </div>
      <div class="col-sm-2">
        <%= f.number_field :score, class: "form-control col-sm-10" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag :episodes, nil, class: "control-label col-sm-2" %>
      </div>
      <div class="col-sm-2">
        <%= f.number_field :episodes, class: "form-control col-sm-10" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag :status, nil, class: "control-label col-sm-2" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :status , class: "form-control col-sm-10"%>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag :summary, nil, class: "control-label col-sm-2" %>
      </div>
      
      <div class="col-sm-6">
        <%= f.text_area :summary, size: "50x5", class: "form-control col-sm-10" %>
      </div>
    </div>
    <br>

    <% Genre.all.each do |genre| %>
  <%= f.check_box :genre_ids, {multiple: true}, genre.id, nil %>
  <%= genre.name %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :episodes %><br>
    <%= f.text_field :episodes %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>

  </div>
</div>
</div>
    <% end %>
