<% if current_user %>
   <%     link_to "/movies"%>
    <%  end %>
<div class="user_index">
  <p id="notice"><%= notice %></p>
  <% @admins = [] %>
  <% @mods = [] %>
  <% @normals = [] %>
  <% @users.each do |user|%>
  <% if user.role == "Admin" %>
  <% @admins << user %>
  <% elsif user.role == "Moderator" %>
  <% @mods << user %>
  <% elsif user.role == "Regular" %>
  <% @normals << user %>
  <% end %>
  <% end %>

<h1>Listing Users</h1>
<h3>Admin</h3>
<table>
  <% @admins.each do |admin| %>
  <tr>

   <% if admin.name.empty? %>
    <% @name = admin.email %>
      <% else %>
        <% @name = admin.name %>
      <% end %>
    <td width="300px"><%= @name %></td>
    <td><%= link_to 'Show', admin %></td>
  </tr>
  <% end %>
</table>
<h3>Moderator</h3>
<table>
  <% @mods.each do |mod| %>
  <tr>
    <td width="300px"><%= mod.name %></td>
    <td><%= link_to 'Show', mod %></td>
    <td><%= link_to 'Change role', edit_user_path(mod) %></td>
  </tr>
  <% end %>
</table>
<h3>Normal User</h3>
<table>
  <% @normals.each do |normal| %>
  <tr>
    <td width="300px"><%= normal.name %></td>
    <td><%= link_to 'Show', normal %></td>
    <td><%= link_to 'Change role', edit_user_path(normal) %></td>
  </tr>
  <% end %>
</table>
</div>