<p id="notice"><%= notice %></p>

<h1>Listing Searches</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<% @searches.each do |search| %>
      
        <p><%= link_to search.name, search %></p>
        <!-- <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_comment_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      
    <% end %>

<br>

