<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @music.link %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @music.movie_id %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
