<%= form_for(@review.comments.build, :'data-update-target' => 'new_comment', remote: true) do |f| %>
  
  <div><%= hidden_field_tag :review_id, @review.id %></div>
   <% if current_user %>
  <div><%= hidden_field_tag :user_id, @current_user.id %></div>

  <%= f.text_area :content, :required => true %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
    	<% end %>
<% end %>