<div class="single_page">
  <p id="notice"><%= notice %></p>
  <ol class="breadcrumb">
    <li><%= link_to('Home', root_path) %></li>
    <% if @movie != nil%>
    <li><%= link_to(@movie.name, @movie) %></li>
    <% end %>
    <li class="active">Reviews</li>
  </ol>
  <% if @reviews.size == 0 %>
  <h1>Don't have any review</h1>
  <% else %>

  <h1>Listing Review</h1>
  <br>
  <% @reviews.each do |review| %>
  <div class="single_review">
    <% @user= User.find(review.user_id)%>
    <% if @movie == nil%>
    <% @current_movie = Movie.find(review.movie_id)%>
    <STRONG><%= link_to(@current_movie.name, @current_movie) %></STRONG>
    <% end %>
    <% rating = Rate.find_by_rater_id_and_rateable_id_and_dimension(review.user_id, @movie.id, "score") %> 
  <%= rating_for_user @movie, User.find(review.user_id), "score" %>
    <p><%= review.content.scan(/\S+/)[0..100].join(' ').html_safe%>...<%= link_to("See more", review) %> </p>
    <p>Reviewed by <%= link_to(get_user_name(@user.id),  @user) + " on " + review.updated_at.to_s %></p>
  </div>
  <% end %>

<% end %>
</div>
