<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Add at:</strong>
  <%= @review.add_at %>
</p>

<p>
  <strong>Score:</strong>
  <%= @review.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @review.movie_id %>
  <%= link_to( Movie.find(@review.movie_id).name, Movie.find(@review.movie_id))%>
</p>

<p>
  <strong>Comment:</strong>
</p>

<ul>
  <%@review.comments.each do |c|%>
  <li><%= c.id%> : <%=c.content%> </li>
  <%end%>
</ul>

<p id="new_comment"></p>

<%= render 'new_comment'%>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
