<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <% @movie = Movie.find(params[:format])%>
      <div class="field">
        <h2><%= link_to @movie.name, @movie %></h2>
      </div>
      
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <% if params[:imgtype] == "movie"%>
      <div class="field">
        
        <%= f.hidden_field :movie_id, :value => params[:format] %>
      </div>
  <% end %>
  <% if params[:imgtype] == "actor" %>
      <div class="field">
        <%= f.label :actor_id %><br>
        <%= f.number_field :actor_id %>
      </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
