<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="header_bottom">
    <!-- <div class="logo_area"><a href="#" class="logo"><%= image_tag("logo.jpg") %></a></div> -->
    
    <div class="business_catgnav  wow fadeInDown">
    <div class="bsbig_fig">
    
    <%= link_to(image_tag("Movie_Review_Banner_001_0.png", width: '1050'), root_path) %>
    
    </div>
    </div>
  </div>
</div>
 <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
         
          <li><%= link_to "Category List", categories_path %></li>
          <li><%= link_to "Genre List", genres_path %></li>
          <li><%= link_to "Actor List", actors_path %></li>
          <li><%= link_to('Add Movie', new_movie_path) if can? :create, Movie %></li>
          <li><%= link_to('Add Actor', new_actor_path) if can? :create, Movie %></li>
          <li><%= link_to('Manage Users', users_path) if can? :manage, User %></li>
        </ul>
      </div>
    </nav>
  </section>
<section id="newsSection">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="latest_newsarea"> <span>Latest News</span>
        <ul id="ticker01" class="newsticker">
          <% @comments = Comment.order(id: :asc).limit(8) %>
          <% @comments.each do |comment|%>
            <% @review = Review.find(comment.review_id) %>
            <% @user = User.find(comment.user_id) %>
            <li><a href="<%= review_path(@review)%>"> <%= image_tag("newfeed-icon.jpg")%> <%= @user.name%>: <%= truncate comment.content, length: 10 %>.. </a></li>
          <% end%>
        <!--   <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My First News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Second News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Third News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Four News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Five News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Six News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Seven News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">My Eight News Item</a></li>
          <li><a href="#"><img src="images/news_thumbnail2.jpg" alt="">My Nine News Item</a></li> -->
        </ul>

        <div class="social_area">
          <ul class="social_nav">
            <li class="facebook"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <li class="flickr"><a href="#"></a></li>
            <li class="pinterest"><a href="#"></a></li>
            <li class="googleplus"><a href="#"></a></li>
            <li class="vimeo"><a href="#"></a></li>
            <li class="youtube"><a href="#"></a></li>
            <li class="mail"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  
  var nt = $('.newsticker').newsTicker({
    autostart: 0,
    speed: 500
  });
  $('.newsTicker-header').hover(function() {
      nt.newsTicker('pause');
  }, function() {
      nt.newsTicker('unpause');
  });


  // var comments = setInterval(getComment, 1000*30);
  
  // function getComment() {
  //   nt.newsTicker('stop');
  //   var url = "/comments/get_newest";
  //   $.get(url, {}, function(response) {
  //     nt.newsTicker('start');
  //   });
  // }

</script>