<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="header_top">
        <div class="header_top_left">
          <ul class="top_nav">
            <li><%= link_to('Home', root_path) %></li>
            <li><%= link_to('List by Order', root_path(:order_by => 'name'))%></li>

            <li><%=link_to('A.Search', '/search') %></li>
            <li><%= render 'layouts/search_form'%></li>

          </ul>
        </div>
        <div class="header_top_right">
          <ul class="top_nav">
            <% if current_user == nil%>
            <li><%= link_to('Sign up', new_user_registration_path) %></li>
            <li><%= link_to('Sign in', new_user_session_path) %></li>
            <% else %>
            <li><%= link_to('Log out', destroy_user_session_path) %></li>
             <li>
              <% if current_user.name.empty? %>
              <%= link_to current_user.email, user_path(current_user) unless current_user.nil? %>
              <% else %>
              <%= link_to current_user.name, user_path(current_user) unless current_user.nil? %>
              <% end %>
            </li>
            <li>
              
            </li>
                
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>



<script>
  $("#search-box").bind("keyup", function() {
    var q = $("#search-box").val();
    var option = $('#option').find(":selected").val();
    if(q) {
      var form = $("#search-form"); // grab the form wrapping the search bar.
      var url = "/searches/live_search"; // live_search action.   
      var formData = form.serialize(); // grab the data in the form
      console.log(q);
      $.get(url, formData, function(response) { // perform an AJAX get
      }); 
    } else {
      $("#result-box").css("display", "none");
    }
  });
</script>